.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 52px;
    gap: 32px;
    &:nth-child(even) {
        .card_content {
            order: -1;
        }
    }
    @media (width <= $breakpoint-sm) {
        grid-template-columns: 1fr;
        &:nth-child(even) {
            .card_content {
                order: 1;
            }
        }
    }
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 16px;
    }
    h3 {
        font-family: 'Work Sans', sans-serif;
        font-size: typo(16px);
        color: var(--color-white);
        font-weight: 400;
        margin: 0px;
    }
    .tag {
        color: var(--color-white);
        font-size: typo(18px);
        font-weight: 300;
    }
    p {
        color: var(--color-white);
        margin: 0px;
        font-family: 'Work Sans', sans-serif;
        font-size: typo(24px, 32px);
    }
    span {
        color: var(--color-secondary);
        font-weight: 300;
    }
    a {
        color: var(--color-black);
        background-color: var(--color-primary);
        padding: 8px 16px;
        text-transform: uppercase;
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
        width: 255px;
        height: 40px;
        border-radius: 100px;
        text-decoration: none;
        &:hover {
            color: var(--color-primary);
            background-color: transparent;
            border: 1px solid var(--color-primary);

            text-decoration: none;
            transition: 0.3s all ease-out;
        }
    }
    .card_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }
    .card_media {
        aspect-ratio: 595/490;
    }
}
