.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 52px;
    gap: 32px;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 16px;
    }
    h3 {
        font-family: 'Work Sans', sans-serif;
        font-size: typo(16px);
        color: var(--color-white);
        font-weight: 400;
        margin: 0px;
    }
    .tag {
        color: var(--color-white);
        font-size: typo(18px);
    }
    p {
        color: var(--color-white);
        margin: 0px;
    }
    span {
        opacity: 50%;
        font-weight: 300;
    }
    a {
        color: var(--color-black);
        background-color: var(--color-primary);
        padding: 8px 16px;
        text-transform: uppercase;
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
        width: 255px;
        height: 40px;
        border-radius: 100px;
        text-decoration: none;
    }
    .card_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }
    .card_media {
        width: 594px;
        height: 490px;
    }
}
