.carroussel {
    background-color: var(--color-primary);
    a {
        background-color: var(--color-white);
        color: var(--color-black);
    }
    padding: 80px 0px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: typo(40px);
    font-weight: 600;
}
