.carroussel {
    background-color: var(--color-primary);
    a {
        background-color: var(--color-white);
        color: var(--color-black);
        &:hover {
            color: var(--color-white);
            background-color: transparent;
            border: 1px solid var(--color-white);

            text-decoration: none;
            transition: 0.3s all ease-out;
        }
    }
    padding: 80px 0px;

    h2 {
        font-family: 'Work Sans', sans-serif;
        font-size: typo(30px, 40px);
        font-weight: 600;
    }
    span {
        font-weight: 300;
    }
    h3 {
        color: var(--color-black);
        font-weight: 600;
    }
    p {
        color: var(--color-black);
    }
    .tag {
        color: var(--color-black);
    }
}

.carroussel .swiper-pagination {
    --swiper-pagination-color: var(--color-white);
    --swiper-pagination-bullet-inactive-color: var(--color-black);
    --swiper-pagination-bullet-width: 20px;
    --swiper-pagination-bullet-height: 20px;
    --swiper-pagination-bullet-border-radius: 0%;
    --swiper-pagination-bullet-horizontal-gap: 20px;

    position: static;
}

.carroussel .swiper-pagination-bullet {
    transform: rotate(45deg);
}
