.carroussel {
    background-color: var(--color-primary);
    a {
        background-color: var(--color-white);
        color: var(--color-black);
    }
    padding: 80px 0px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: typo(40px);
    font-weight: 600;
}
.swiper-pagination {
    --swiper-pagination-color: var(--color-white);
    --swiper-pagination-bullet-inactive-color: var(--color-black);
    --swiper-pagination-bullet-width: 20px;
    --swiper-pagination-bullet-height: 20px;
    --swiper-pagination-bullet-border-radius: 0%;
    --swiper-pagination-bullet-horizontal-gap: 20px;

    position: static;
}

.swiper-pagination-bullet {
    transform: rotate(45deg);
}
