footer {
    span {
        color: var(--color-white);
    }
    color: var(--color-secondary);
    font-weight: 300;
    font-weight: 600;
    text-align: center;
    padding: 40px 0px;
    color: var(--color-secondary);
    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 56px;
        margin: 0px;
    }
    h2 {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 30px;
    }
}
