footer {
    span {
        color: var(--color-white);
            font-weight: 600;

    }
    color: var(--color-secondary);
    font-weight: 300;
    text-align: center;
    padding: 40px 0px;
    color: var(--color-secondary);
    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 56px;
        margin: 0px;
    }
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: typo(40px);
        font-weight: 300;
        margin: 0px;
    }

    p {
        margin-bottom: 30px;
                margin-top: 30px;

    }
}
