header {
    background-color: rgba($color: #000000, $alpha: 0.6);
    p {
        margin: 0;
    }
    position: fixed;
    z-index: 2;
    width: 100%;
    text-align: center;
    color: var(--color-white);
    padding: 25px 0 25px;
}
