.hero .hero_media {
    position: relative;
}

.hero .hero_contenu {
    position: absolute;
    bottom: 0;
    margin-bottom: 80px;
}

.hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.hero h1 {
    font-size: typo(40px, 57px);
}
