.laboratoires {
    h2 {
        color: var(--color-white);
        font-family: 'Work Sans', sans-serif;
        font-size: typo(30px, 40px);
        font-weight: 600;
    }
    span {
        opacity: 50%;
        font-weight: 300;
    }
}
