{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->

<!-- HERO -->

<section class="hero">
    <div class="hero_media">
        <img src="assets/images/concepteur-web-de-site-web-ou-vendeur.jpg" alt="" />
        <div class="wrapper">
            <div class="hero_contenu">
                <h1>Mon cahier dexercice</h1>
            </div>
        </div>
    </div>
</section>

<!-- Section Laboratoires -->

<section class="laboratoires">
    <div class="wrapper">
        <div class="cards">
            <h2>Mes laboratoires</h2>
            <div class="card">
                <div class="card_media">
                    <img src="assets/images/lab01.png" alt="" />
                </div>
                <div class="card_content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                    <p class="tag">HTML + CSS</p>
                    <a href="https://ogagnon.dectim.ca/cours/cw3/sem01/">voir le laboratoire</a>
                </div>
            </div>

            <div class="card inverser">
                <div class="card_content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                    <p class="tag">HTML + CSS</p>
                    <a href="https://ogagnon.dectim.ca/cours/cw3/sem02/">voir le laboratoire</a>
                </div>
                <div class="card_media">
                    <img src="assets/images/lab02.png" alt="" />
                </div>
            </div>

            <div class="card">
                <div class="card_media">
                    <img src="assets/images/lab01.png" alt="" />
                </div>
                <div class="card_content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                    <p class="tag">HTML + CSS</p>
                    <a href="https://ogagnon.dectim.ca/cours/cw3/sem01/">voir le laboratoire</a>
                </div>
            </div>

            <div class="card inverser">
                <div class="card_content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                    <p class="tag">HTML + CSS</p>
                    <a href="https://ogagnon.dectim.ca/cours/cw3/sem01/">voir le laboratoire</a>
                </div>
                <div class="card_media">
                    <img src="assets/images/lab01.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
