{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->

<!-- HERO -->

<section class="hero">
    <div class="hero_media">
        <img src="assets/images/hero.jpg" alt="" />
        <div class="wrapper">
            <div class="hero_contenu">
                <h1>
                    Mon cahier
                    <br />
                    d'exercice
                </h1>
            </div>
        </div>
    </div>
</section>

<!-- Section Laboratoires -->

<section class="laboratoires">
    <div class="wrapper">
        <div class="cards">
            <h2>
                <span>Mes premiers</span>
                laboratoires
            </h2>
            <div class="card">
                <div class="card_media">
                    <img src="assets/images/lab01.png" alt="" />
                </div>
                <div class="card_content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>
                        <span>Révision web 1 et 2.</span>
                        Ce laboratoire de révision regroupe les apprentissages de Web 1 et Web 2.
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <div class="btn">
                        <a href="https://ogagnon.dectim.ca/cours/cw3/sem01/" target="_blank">
                            voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card inverser">
                <div class="card_media">
                    <img src="assets/images/lab02.png" alt="" />
                </div>
                <div class="card_content">
                    <h3>SEM 02 - TIMTOOLS</h3>
                    <p>
                        <span>Introduction aux bases du SCSS.</span>
                        Ce laboratoire introduit une meilleure organisation du css en web.
                    </p>
                    <p class="tag">SCSS</p>
                    <div class="btn">
                        <a href="https://ogagnon.dectim.ca/cours/cw3/sem02/" target="_blank">
                            voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card_media">
                    <img src="assets/images/lab03.png" alt="" />
                </div>
                <div class="card_content">
                    <h3>SEM 03 - PORTFOLIO LOUIS LAJOIE</h3>
                    <p>
                        <span>Reproduction d'une maquette.</span>
                        Ce laboratoire consiste a reproduire un site depuis une maquette avec les nouvelles bases apprises depuis le début de la session.
                    </p>
                    <p class="tag">HTML + SCSS</p>
                    <div class="btn">
                        <a href="https://ogagnon.dectim.ca/cours/cw3/sem03/" target="_blank">
                            voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card inverser">
                <div class="card_media">
                    <img src="assets/images/lab04.png" alt="" />
                </div>
                <div class="card_content">
                    <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                    <p>
                        <span>Introduction des icones et du javascript.</span>
                        Ce Laboratoire introduit les icônes et le JS utilisé avec TIMTOOLS.
                    </p>
                    <p class="tag">JAVASCRIPT + SCSS</p>
                    <div class="btn">
                        <a href="https://ogagnon.dectim.ca/cours/cw3/sem04/" target="_blank">
                            voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section carroussel -->

<section class="carroussel">
    <div class="wrapper">
        <h2>
            <span>Mes</span>
            laboratoires réactifs
        </h2>
        <div class="swiper js-swiper-page">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card_media">
                            <img src="assets/images/lab07.png" alt="" />
                        </div>
                        <div class="card_content">
                            <h3>SEM 07 - Sites réactifs</h3>
                            <p>
                                <span>Introduction aux sites réactifs.</span>
                                Ce laboratoire introduit les bases de la réactivité en web.
                            </p>
                            <p class="tag">SCSS + JAVASCRIPT</p>
                            <div class="btn">
                                <a href="https://ogagnon.dectim.ca/cours/cw3/sem07/" target="_blank">
                                    voir le laboratoire
                                    <svg class="icon">
                                        <use href="#icon-chevron-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card">
                        <div class="card_media">
                            <img src="assets/images/lab08.png" alt="" />
                        </div>
                        <div class="card_content">
                            <h3>SEM 08 - Sites réactifs</h3>
                            <p>
                                <span>Site réactif depuis une maquette.</span>
                                Recréation d'une maquette avec les notions apprises de réactivité.
                            </p>
                            <p class="tag">HTML + SCSS</p>
                            <div class="btn">
                                <a href="https://ogagnon.dectim.ca/cours/cw3/sem08/" target="_blank">
                                    voir le laboratoire
                                    <svg class="icon">
                                        <use href="#icon-chevron-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card_media">
                            <img src="assets/images/lab09.png" alt="" />
                        </div>
                        <div class="card_content">
                            <h3>SEM 09 - Sites réactifs</h3>
                            <p>
                                <span>Introduction aux carroussels et révision javascript.</span>
                                Ce laboratoire comporte une introduction aux carroussels ainsi qu'une révision du JS.
                            </p>
                            <p class="tag">HTML + CSS + JAVASCRIPT</p>
                            <div class="btn">
                                <a href="https://ogagnon.dectim.ca/cours/cw3/sem09/" target="_blank">
                                    voir le laboratoire
                                    <svg class="icon">
                                        <use href="#icon-chevron-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
