{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->

<!-- HERO -->

<section class="hero">
    <div class="hero_media">
        <img src="assets/images/concepteur-web-de-site-web-ou-vendeur.jpg" alt="" />
        <div class="wrapper">
            <div class="hero_contenu">
                <h1>Mon cahier d'exercice</h1>
            </div>
        </div>
    </div>
</section>

<!-- Section Laboratoires -->

<section class="laboratoires">
    <div class="wrapper">
        <div class="cards">
            <h2>Mes laboratoires</h2>
            <div class="card">
                <div class="card_media">
                    <img src="assets/images/lab01.png" alt="" />
                </div>
                <div class="card_content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>
                        <span>Ce laboratoire de révision regroupe les apprentissages de Web 1 et Web 2.</span>
                        Il permet de consolider les bases du HTML et du CSS tout en créant un site moderne et cohérent.
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <div class="btn">
                        <a href="https://ogagnon.dectim.ca/cours/cw3/sem01/">
                            voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card inverser">
                <div class="card_content">
                    <h3>SEM 02 - RÉVISION</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                    <p class="tag">HTML + CSS</p>
                    <div class="btn">
                        <a href="https://ogagnon.dectim.ca/cours/cw3/sem02/">
                            voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="card_media">
                    <img src="assets/images/lab02.png" alt="" />
                </div>
            </div>

            <div class="card">
                <div class="card_media">
                    <img src="assets/images/lab03.png" alt="" />
                </div>
                <div class="card_content">
                    <h3>SEM 03 - RÉVISION</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                    <p class="tag">HTML + CSS</p>
                    <div class="btn">
                        <a href="https://ogagnon.dectim.ca/cours/cw3/sem03/">
                            voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card inverser">
                <div class="card_content">
                    <h3>SEM 04 - RÉVISION</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                    <p class="tag">HTML + CSS</p>
                    <div class="btn">
                        <a href="https://ogagnon.dectim.ca/cours/cw3/sem04/">
                            voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="card_media">
                    <img src="assets/images/lab01.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
